{% extends 'main_layout.html' %}
{% block content %}

<section>
  <header class="main">
    <h1>Política de privacidad</h1>
  </header>
</section>

<section>
  <h2>General</h2>
  <p>
    Para no estar preguntando constantemente, esta página almacena tu respuesta a nuestra política de privacidad 
    (si la aceptas, y por ende nos permites hacer uso de las tecnologías de terceros descritas a continuación, 
    o no) en nuestra base de datos. Para ello almacenamos tu dirección IP, la respuesta y la fecha en la que se te
    preguntó por última vez. La fecha la guardamos para preguntarte dentro de un mes si has cambiado de opinión.
    Si no deseas que guardemos estos datos, o tienes cualquier pregunta al respecto, no dudes en contactarnos
    mándandome un mail a saludypimienta@outlook.com
  </p>
  <h4>Google Analytics</h4>
  <p>
    Esta página hace uso del servicio gratuito <strong>Google Analytics</strong> para analizar el tráfico
    de la web, con el fin de mejorar los servicios ofrecidos. Puedes leer la política de
    privacidad de "Google Analytics" <a href="https://www.google.com/analytics/terms/es.html" target="_blank" title="Leer la política de privacidad de Google Analytics">aquí</a>.
  </p>

  <h4>AddThis</h4>
  <p>
    Esta página hace uso del servicio gratuito <strong>AddThis</strong> de Oracle, para
    ofrecer la posibilidad de compartir las recetas en redes sociales. Puedes leer la política de
    privacidad de "AddThis" <a href="https://www.oracle.com/legal/privacy/addthis-privacy-policy.html" target="_blank" title="Leer la política de privacidad de AddThis">aquí</a>.
  </p>
</section>

<section>
  <h2>Veganizador</h2>
  <p>
    Toda la información escrita en el formulario es enviada vía correo electrónico
    al administrador de esta página. Una vez la receta correspondiente haya sido publicada
    y el administrador haya informado al usuario, el correo electrónico será borrado. En
    caso de que la receta no se vaya a publicar, se le comunicará dicha decisión al usuario
    y a continuación se eliminará el correo electrónico. <strong>La información contenida en el correo
    electrónico no será almacenada en ningún lugar</strong>.
  </p>
  <p>
    Utilizamos un <strong>reCAPTCHA v2</strong> para comprobar que el que desea enviar el formulario no es una máquina.
    Las condiciones de uso de esta tecnología, que es propiedad de Google, las puede leer
    <a href="https://developers.google.com/terms/" target="_blank" title="Leer las condiciones de uso para las APIs de Google">aquí</a>.
  </p>
</section>

{% endblock content %}
