{% extends 'main_layout.html' %}
{% block content %}

<section>
  <header class="main">
    <h1>Hacer una donación</h1>
  </header>
  <h3>Contribuye para que este blog sea un proyecto sostenible y libre de anuncios.</h4>
  <p>
    Aunque este blog sea un producto de la afición por la gastronomía de nuestra cocinillas,
    todo esfuerzo merece su recompensa. El objetivo de las donaciones no son el lucro personal.
    En absoluto. Cada donación contribuye al tiempo que la cocinera pueda dedicarle a su pasión,
    y gradualmente vaya abandonando otras tareas que hace por necesidad, y no por gusto. Muchas
    gracias a todos aquellos que donéis, y a los que no, seguro que tras probar un par de recetas
    más os entran las ganas.
  </p>
</section>
<section>
  <center>
    <a class="button primary large" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XC8GEL7ZC5YZC&source=url">Donar</a>
  </center>
</section>


{% endblock content %}
