{% extends 'main_layout.html' %} {% block content %}
<form
    method="post"
    enctype="multipart/form-data"
    {% if is_new_subrecipe %}
        action=""
    {% else %}
        action="{{ url_for('ingredients.edit_ingredient', ingredient_url=ingredient.url) }}"
    {% endif %}
>
    {{ form.hidden_tag() }}
    <header id="name">
        {% if form.name.errors %} 
            {{ form.name(id="input_h1", style="color:#991D1D") }}
            <span style="color: #991D1D; font-weight: bolder">
                El nombre puede tener máximo 50 caracteres.
            </span>
            <br /><br /><br />
        {% else %} 
            {{ form.name(id="input_h1") }} 
        {% endif %}
    </header>

    <article id="ingredients">
        <h2>Características nutritivas</h2>
        {{ form.health(oninput="auto_grow(this)") }}          
    </article>

    <center>
        {{ form.save(class="primary") }}
    </center>
</form>

{% endblock content %}
