{% extends 'main_layout.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data" action="{{ url_for('recipes.edit_recipe', recipe_url=recipe.url) }}">
  {{ form.hidden_tag() }}
  <section>
  	<header class="main" id="recipe_header">
      {% if form.name.errors %}
        {{ form.name(id="input_h1", style="color: #991D1D") }}
        <span style="color: #991D1D; font-weight: bolder">El nombre puede tener máximo 100 caracteres.</span>
        <br><br><br>
      {% else %}
        {{ form.name(id="input_h1") }}
      {% endif %}
  	</header>

  	<span class="image main">
      <div class="form-group">
        {{ form.image.label() }}
        {{ form.image(class="form-control-file") }}
        {% if form.image.errors %}
          {% for error in form.image.errors %}
            <span style="color: #991D1D">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <img src="{{ url_for('static', filename='images/recipes/large/' + '_'.join(recipe.name.lower().replace("ñ", "n").split(' '))) + '_opt.jpg' }}" alt="{{ recipe.name }}" />
    </span>

  		<div class="container_times">
  			<div class="item_times">
  				<img class="time_img" src="{{ url_for('static', filename='images/icons/syp_knife.svg') }}" alt="Tiempo de preparación" title="Tiempo de preparación" />
  				<span class="time_number">
              {{ form.time_prep(class="input_time_number", type="number") }} min.
          </span>
  			</div>
  			<div class="item_times">
  				<img class="time_img" src="{{ url_for('static', filename='images/icons/syp_stew.svg') }}" alt="Tiempo de cocción" title="Tiempo de cocción" />
  				<span class="time_number">
              {{ form.time_cook(class="input_time_number", type="number") }} min.
          </span>
  			</div>
      </div>
			<center><div class="container_times">
				<img class="time_img" src="{{ url_for('static', filename='images/icons/syp_flower.svg') }}" alt="Temporada" title="Temporada" />
        {% set f = form.season.process_data(recipe.season.id) %}
        <span class="time_number">{{ form.season() }}</span>
			</div></center>

    {% if form.intro.errors %}
      {{ form.intro(id="textarea_h4", style="color: #991D1D") }}
      <span style="color: #991D1D; font-weight: bolder">La introducción tiene que tener entre 80 y 180 caracteres.</span>
      <br><br>
    {% else %}
      {{ form.intro(id="textarea_h4") }}
    {% endif %}

    {% if form.text.errors %}
      {{ form.text(id="textarea_p", style="color: #991D1D") }}
      <span style="color: #991D1D; font-weight: bolder">El texto tiene que tener entre 600 y 1400 caracteres.</span>
      <br><br>
    {% else %}
      {{ form.text(id="textarea_p") }}
    {% endif %}

  </section>


	<article id="ingredients">
	  <h2>Ingredientes para 2 personas</h2>

		<ul class="ul_pepper" id="ingredients_list">
			{% for subform in form.ingredients %}
        {% for q in recipe.ingredients %}
          {% if q.ingredient.name == subform.ingredient|string %}
            {% set f = subform.unit.process_data(q.unit.id) %}
          {% endif %}
        {% endfor %}
				<li class="ingredient_item">
          {% if subform.ingredient.errors %}
          {{ subform.ingredient(class="is-invalid") }}
            <div class="invalid-feedback">
              <span style="color: #991D1D">Escoge un ingrediente.</span>
            </div>
          {% else %}
            {{ subform.ingredient.label }}
            <span>
              {{ subform.ingredient(list="all_ingredients", autocomplete="off") }}
            </span>
          {% endif %}

          {% if subform.amount.errors %}
            {{ subform.amount.label(style="color: #991D1D; font-style: italic") }}
            {{ subform.amount(style="border: 2px solid #991D1D") }}
            <div class="invalid-feedback">
              <span style="color: #991D1D">La unidad tiene que ser un número.</span>
            </div>
            <br>
          {% else %}
            {{ subform.amount.label }} {{ subform.amount }}
          {% endif %}

          {{ subform.unit.label }} {{ subform.unit }}
          <a onclick="remove_item(this)">Borrar ingrediente</a>
        </li>
			{% endfor %}
		</ul>
    <a onclick="add_item(this)">Añadir ingrediente</a>
    <datalist id="all_ingredients">
      {% for ing in all_ingredients %}
        <option value="{{ ing[0] }}"></option>
      {% endfor %}
    </datalist>
  </article>


  <article id="subrecipes">
    <h2>Subrecetas</h2>

    <ul id="subrecipes_list">
    {% for i in range(form.subrecipes|length) %}
      {% set f = form.subrecipes[i].subrecipe.process_data(recipe.subrecipes[i].name) %}
      <li class="subrecipe_item">
        {{ form.subrecipes[i].subrecipe(list="all_subrecipes", data_before=recipe.subrecipes[i].name, autocomplete="off", onchange="update_subrecipe_options(this)") }}
        <a onclick="remove_subrecipe(this)">Borrar subreceta</a>
      </li>
    {% endfor %}
    </ul>
    <a onclick="add_item(this)">Añadir subreceta</a>

    <datalist id="all_subrecipes">
      {% for sub in all_subrecipes %}
        <option value="{{ sub[0] }}"></option>
      {% endfor %}
    </datalist>
  </article>


  <article id="steps">
	  <h2>Pasos</h2>
		<ol>
      {% for subform in form.steps %}
        {% if subform.step.data|int == 0 %}
		     <li class="step_item">
           {{ subform.step(class="recipe_step") }}
           <a onclick="remove_item(this)">Borrar paso</a>
         </li>
        {% else %}
          {% for subrecipe in recipe.subrecipes %}
            {% if subrecipe.id == subform.step.data|int %}
              {% set f = subform.step.process_data(subrecipe.name) %}
              <li class="step_item">
                {{ subform.step(class="recipe_step is_subrecipe", readonly=true) }}
                <a onclick="add_subrecipe_to_step_options(this); remove_item(this)">Borrar paso</a>
              </li>
            {% endif %}
    		  {% endfor %}
        {% endif %}
		  {% endfor %}
    </ol>
    <a onclick="add_item(this)" style="margin-right: 2em">Añadir paso</a>
    <a id="anchor_add_subrecipe" onclick="add_subrecipe_steps()">Añadir subreceta</a>

    <select id="choose_subrecipe" onchange="set_subrecipe_step()">
      <option value="" disabled selected>Escoge una subreceta</option>
    </select>
	</article>

	<article id="video">
		<h2>Vídeo</h2>
    <input type="text" id="video_link" value="{{ recipe.link_video }}" onchange="update_video()">
    <br>
		<div class="video-container">
			<iframe class="video-item" allowfullscreen src={{ recipe.link_video }}></iframe>
		</div>
	</article>
  <center>
    {{ form.save(class="primary") }}
  </center>
</form>

<div id="blueprint_subrecipes" style="display: none">
  <li class="subrecipe_item">
    <input data-before="None" autocomplete="off" id="subrecipes-0-subrecipe" list="all_subrecipes" name="subrecipes-0-subrecipe" onchange="update_subrecipe_options(this)" required type="text" name="" value="">
    <a onclick="remove_subrecipe(this)">Borrar subreceta</a>
  </li>
</div>

{% endblock content %}
