{% extends 'main_layout.html' %} {% block content %}

<h1>Ingredientes</h1>
<a href="{{ url_for('ingredients.create_ingredient') }}" class="add_btn" style="margin-bottom: 1em">Nuevo ingrediente</a>
<table>
  <tr>
    <th>Nombre</th>
    <th>Creador</th>
    <th>Último cambio</th>
    <th>Acciones</th>
  </tr>
  {% for ingredient in ingredients.items %}
  <tr>
    <td>{{ ingredient.name }}</td>
    <td>{{ ingredient.creator.username }}</td>
    {% if ingredient.changed_at %}
      <td>{{ ingredient.changed_at.strftime("%d-%m-%Y") }}</td>
    {% else %}
      <td>{{ ingredient.created_at.strftime("%d-%m-%Y") }}</td>
    {% endif %}
    <td>
      <a
        href="{{ url_for('ingredients.edit_ingredient', ingredient_url=ingredient.url) }}"
        class="icon fas fa-pencil action_icon"
        title="Editar ingrediente."
        ><span class="label">Editar ingrediente.</span></a>
      {% if current_user.id == ingredient.created_by %}
        <a
          href=""
          onclick="return confirm('¿Seguro que quieres borrar la ingrediente?')"
          style="margin-left: 0.5em"
          class="icon fas fa-trash action_icon"
          title="Borrar ingrediente."
        ><span class="label">Borrar ingrediente.</span></a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<center>
  {% for page_num in ingredients.iter_pages(left_edge=1, right_edge=1,
  left_current=1, right_current=2) %} {% if page_num %} {% if ingredients.page ==
  page_num %}
  <a
    class="btn btn-danger mb-4"
    href="{{ url_for('ingredients.overview', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% else %}
  <a
    class="btn btn-danger mb-4"
    href="{{ url_for('ingredients.overview', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% endif %} {% else %} ... {% endif %} {% endfor %}
</center>

{% endblock content %}
