<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133554712-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "UA-133554712-1");
        </script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="{{ keywords }}" />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        />
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/home.css') }}"
        />
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/philosophy.css') }}"
        />
        <link rel="icon"
            href="{{ url_for('static', filename='images/icons/pepper_favicon.png') }}"
        />

        {% if is_recipe %}
            <link rel="stylesheet" type="text/css"
                href="{{ url_for('static', filename='css/recipe.css') }}"
            />
        {% elif is_edit_recipe %}
            <link rel="stylesheet" type="text/css"
                href="{{ url_for('static', filename='css/recipe.css') }}"
            />
            <link rel="stylesheet" type="text/css"
                href="{{ url_for('static', filename='css/edit_recipe.css') }}"
            />
		{% endif %} 
		{% if title == 'Subrecetas' or title == 'Recetas' or title == 'Ingredientes' %}
            <link rel="stylesheet" type="text/css"
                href="{{ url_for('static', filename='css/overview.css') }}"
            />
		{% endif %} 
		{% if title %}
            <title>SyP - {{ title }} | Recetas veganas y saludables</title>
        {% else %}
            <title>SyP | Recetas veganas y saludables</title>
        {% endif %}
    </head>
    <body class="is-preload">
        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    <header id="header">
                        <div>
                            <img id="logo" alt="Logo de SyP"
                                src="{{ url_for('static', filename='images/icons/syp.png') }}"
                            />
                            <a class="logo" href="{{ url_for('main.get_home') }}"
                                style='font-weight: bold; color: #599A00; font-family: "Comic Sans MS", sans-serif'
                                >Salud y pimienta
                            </a>
                        </div>
                        <ul class="icons">
                            <li>
                                <a class="icon fa-facebook"
                                    href="https://www.facebook.com/saludypimienta"
                                    title="Ir a la página de Facebook de SyP"
                                ><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a class="icon fa-instagram"
                                    href="https://www.instagram.com/saludypimienta_2019"
                                    title="Ir a la página de Instagram de SyP"
                                ><span class="label">Instagram</span></a>
                            </li>
                            <li>
                                <a class="icon fa-youtube-play"
                                    href="https://www.youtube.com/channel/UCy7FtA3uaaYTkZ_FRHfRkPA"
                                    title="Ir a la página de YouTube de SyP"
                                ><span class="label">YouTube</span></a>
                            </li>
                        </ul>
                        {% if title != 'Login' %}
                            <div id="account_btn">
                            {% if current_user.is_authenticated %}
                                <a href="" class="button">{{ current_user.username }}</a>
                            {% else %}
                                <a href="{{ url_for('users.login', url=request.url) }}" class="button">
                                    Iniciar sesión
                                </a>
                            {% endif %}
                            </div>
                        {% endif %}
                    </header>

                    <!-- Display Flash messages -->
                    <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %} 
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" style="margin-top: 5px;" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    </div>

                    <!-- Content -->
                    {% block content %}{% endblock %}
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">
                    <!-- Search -->
                    <section id="search" class="alt">
                        <form method="post" action="{{ url_for('search.search_all_recipes') }}">
                        {{ recipe_form.recipe(placeholder="Buscar receta") }}
                        <p style="font-style: italic; color: #90929D;">
                            Presiona "enter" para buscar.
                        </p>
                        </form>
                    </section>

                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Menú</h2>
                        </header>
                        <ul>
                            {% if current_user.is_authenticated %}
                                <li>
                                    <span class="opener">Mi cuenta</span>
                                    <ul>
                                        <li>
                                            <a href="{{ url_for('users.edit_profile') }}" title="Ver y editar los datos de mi cuenta.">
                                                Mi perfil
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('recipes.sort_by_date', arg='True') }}" title="Ver mis recetas.">
                                                Mis recetas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for("subrecipes.sort_by_date", arg='True') }}" title="Ver mis subrecetas.">
                                                Mis subrecetas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for("ingredients.sort_by_date", arg='True') }}" title="Ver todos los ingredientes.">
                                                Ingredientes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('users.logout', url=request.url) }}" title="Cerrar sesión.">
                                                Cerrar sesión
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for('users.login', url=request.url) }}" title="Iniciar sesión.">
                                        Iniciar sesión
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ url_for('main.get_home') }}">Inicio</a></li>
                            <li>
                                <a href="{{ url_for('search.search_all_recipes') }}"
                                    title="Ver todas las recetas">
                                    Recetas
                                </a>
                            </li>
                            <li>
                                <span class="opener">Buscadores</span>
                                <ul>
                                    <li>
                                        <a href="{{ url_for('search.search_all_recipes') }}"
                                            title="Buscar recetas por nombre.">
                                            por nombre
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('ingredients.search_all_ingredients') }}"
                                            title="Buscar recetas por ingrediente." >
                                            por ingrediente
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('times.search_time_undefined') }}"
                                            title="Buscar recetas por tiempo.">
                                            por tiempo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('seasons.search_current_season') }}"
                                            title="Buscar recetas por temporada.">
                                            por temporada
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ url_for('veganizer.get_veganizer') }}"
                                    title="Ir al veganizador">
                                    Veganizador
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.get_philosophy') }}"
                                    title="Leer nuestra filosofía">
                                    Nuestra filosofía
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.get_donate') }}"
                                    title="Leer nuestra filosofía">
                                    Donar
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.get_privacy') }}"
                                    title="Leer nuestra política de privacidad">
                                    Política de privacidad
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <!-- Section -->
                    <section>
                        <header class="major">
                            <h2>Últimas recetas</h2>
                        </header>
                        <div class="mini-posts">
                            {% for recipe in last_recipes[:4] %}
                            <article>
                                <a href="{{ url_for('recipes.get_recipe', recipe_url=recipe.url) }}" class="image">
                                    <img src="{{ recipe.image_path('300') }}" alt="{{ recipe.name }}" />
                                </a>
                                <p>{{ recipe.intro }}</p>
                            </article>
                            {% endfor %}
                        </div>
                        <ul class="actions">
                            <li>
                                <a
                                    href="{{ url_for('search.search_all_recipes') }}"
                                    class="button"
                                    >Más</a
                                >
                            </li>
                        </ul>
                    </section>

                    <!-- Footer -->
                    <footer id="footer">
                        <header class="major">
                            <h2>Contáctanos</h2>
                        </header>
            <p>Si tienes cualquier sugerencia, no dudes en contactarnos.</p>
                        <ul class="contact">
                            <li class="fa-envelope-o">
                                <a href="#">saludypimienta@outlook.com</a>
                            </li>
                            <li class="fa-home">Madrid, España</li>
                        </ul>
                        <p class="copyright">
              &copy; Todos los derechos reservados. Diseño basado en una
              plantilla de <a href="https://html5up.net">HTML5 UP</a>.
                        </p>
                    </footer>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
        ></script>
        {% if is_recipe %}
            <script
                type="text/javascript"
                src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c4f12a15338a3ff"
            ></script>
            <script src="{{url_for('static', filename='js/recipe.js')}}"></script>
        {% elif is_edit_recipe %}
            <script src="{{url_for('static', filename='js/edit_recipe.js')}}"></script>
            <script src="{{url_for('static', filename='js/edit.js')}}"></script>
        {% endif %}
        {% if 'Editar' in title or 'Crear' in title %}
            <script src="{{url_for('static', filename='js/edit.js')}}"></script>
        {% endif %}
        {% if title == 'Editar perfil' %}
            <script src="{{url_for('static', filename='js/edit_profile.js')}}"></script>
        {% elif title == 'Subrecetas' %}
        <script src="{{url_for('static', filename='js/subrecipes.js')}}"></script>
		{% endif %}
        {% if title == 'Subrecetas' or title == 'Recetas' or title == 'Ingredientes' %}
            <script src="{{ url_for('static', filename='js/overview.js') }}"/></script>
		{% endif %} 
        <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/util.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>
