{% extends 'main_layout.html' %} {% block content %}

<h1>Recetas</h1>
<form method='post' action="{{ url_for('recipes.sort_by_name', arg=True) }}">
  {{ search_form.hidden_tag() }}
  {{ search_form.name(placeholder="Buscar receta", style="max-width: 300px") }}
</form>
<a href="{{ url_for('recipes.create_recipe') }}" class="add_btn" style="margin-bottom: 1em">Nueva receta</a>
<table id="overview_table">
  <tr>
    <th>
      <a class="action_icon icon" href="{{ url_for('recipes.sort_by_name', arg=arg != 'True') }}">Nombre</a>
    </th>
    <th>
      <a class="action_icon icon" href="{{ url_for('recipes.sort_by_date', arg=arg != 'True') }}">Último cambio</a>
    </th>
    <th>
      <a class="action_icon icon" href="{{ url_for('recipes.sort_by_state', arg=arg != 'True') }}">Estado</a>
    </th>
    <th>Acciones</th>
  </tr>
  {% for recipe in recipes.items %}
  <tr>
    <td><a class="icon action_icon" href="{{ url_for('recipes.get_recipe', recipe_url=recipe.url) }}">{{ recipe.name }}</a></td>
    {% if recipe.changed_at %}
      <td>{{ recipe.changed_at.strftime("%d-%m-%Y") }}</td>
    {% else %}
      <td>{{ recipe.created_at.strftime("%d-%m-%Y") }}</td>
    {% endif %}
    <td>
      <span class="label label-{{recipe.state.label}}">{{ recipe.state.state|upper }}</span>
    </td>
    <td>
      <a
        href="{{ url_for('recipes.edit_recipe', recipe_url=recipe.url) }}"
        class="icon fas fa-pencil action_icon"
        title="Editar receta."
        ><span class="label">Editar receta.</span></a
      >
      <a
        href="{{ url_for('recipes.delete_recipe', recipe_url=recipe.url) }}"
        onclick="return confirm('¿Seguro que quieres borrar la receta?')"
        class="icon fas fa-trash action_icon"
        title="Borrar receta."
      ><span class="label">Borrar receta.</span></a
    >
    </td>
  </tr>
  {% endfor %}
</table>

<center>
  {% for page_num in recipes.iter_pages(left_edge=1, right_edge=1,
  left_current=1, right_current=2) %} {% if page_num %} {% if recipes.page ==
  page_num %}
  <a
    class="btn btn-danger mb-4"
    href="{{ url_for(request.endpoint, arg=arg, page=page_num) }}"
    >{{ page_num }}</a
  >
  {% else %}
  <a
    class="btn btn-danger mb-4"
    href="{{ url_for(request.endpoint, arg=arg, page=page_num) }}"
    >{{ page_num }}</a
  >
  {% endif %} {% else %} ... {% endif %} {% endfor %}
</center>

{% endblock content %}
