{% extends 'main_layout.html' %}
{% block content %}
<section>
	<header class="main" id="recipe_header">
    <div id="action_icons_container">
      <ul class="icons">
        {% if current_user.is_authenticated %}
          <li><a href="#" class="icon fas fa-star" title="Guardar receta."><span class="label">Guardar receta.</span></a></li>
          {% if current_user.role|int < 3 %}
            <li><a href="{{ url_for('recipes.edit_recipe', recipe_name=recipe.name.replace(' ', '_')) }}" class="icon fas fa-pencil" title="Editar receta."><span class="label">Editar receta.</span></a></li>
          {% endif %}
        {% endif %}
        <li><h1> {{ recipe.name }} </h1></li>
      </ul>
    </div>
	</header>

	<span class="image main"><img src="{{ url_for('static', filename='images/recipes/large/' + '_'.join(recipe.name.lower().replace("ñ", "n").split(' '))) + '_opt.jpg' }}" alt="{{ recipe.name }}" /></span>

		<div class="container_times">
			<div class="item_times">
				<img class="time_img" src="{{ url_for('static', filename='images/icons/syp_knife.svg') }}" alt="Tiempo de preparación" title="Tiempo de preparación" />
				<span class="time_number"> {% block prep_time %} {{ recipe.time_prep }} min. {% endblock %} </span>
			</div>
			<div class="item_times">
				<img class="time_img" src="{{ url_for('static', filename='images/icons/syp_stew.svg') }}" alt="Tiempo de cocción" title="Tiempo de cocción" />
				<span class="time_number"> {% block cook_time %} {{ recipe.time_cook }} min. {% endblock %} </span>
			</div>
			<div class="item_times">
				<img class="time_img" src="{{ url_for('static', filename='images/icons/syp_flower.svg') }}" alt="Temporada" title="Temporada" />
				<span class="time_number"> {{ recipe.season.name }} </span>
			</div>
		</div>

	<h4> {{ recipe.intro }} </h4>
	<p> {{ recipe.text }} </p>

</section>

<div id="first-posts-recipe" class="posts">
	<article id="ingredients">
	  <h2>Ingredientes para
	    <select style="width: 5em; display: inline" data-before="2" onchange="change_quantities(this)">
	      <option value="1">1</option>
	      <option value="2" selected>2</option>
	      <option value="3">3</option>
	      <option value="4">4</option>
	      <option value="5">5</option>
	    </select>
	    <span id="text-person">personas</span></h2>

		<ul class="ul_pepper">
			{% for q in recipe.ingredients %}
          {% if q.amount|float == 0 %}
            <li value="{{ q.unit.id }}" data-before="{{ q.amount }}"><b>{{ q.ingredient.name }}</b></li>
          {% elif q.amount|float > 1 %}
					  <li value="{{ q.unit.id }}" data-before="{{ q.amount }}" data-singular="{{ q.unit.singular }}" data-plural="{{ q.unit.plural }}">
              <b>{{ q.ingredient.name }}</b>: <span>{{ q.amount|string + ' ' + q.unit.singular + q.unit.plural }}</span>
            </li>
          {% else %}
  				  <li value="{{ q.unit.id }}" data-before="{{ q.amount }}" data-singular="{{ q.unit.singular }}" data-plural="{{ q.unit.plural }}">
              <b>{{ q.ingredient.name }}</b>: <span>{{ q.amount|string + ' ' + q.unit.singular }}</span>
            </li>
          {% endif %}
      {% endfor %}
		</ul>
		{% for subrecipe in recipe.subrecipes %}
			<h3> {{ subrecipe.name }} </h3>
			<ul class="ul_pepper">
				{% for q in subrecipe.ingredients %}
          {% if q.amount|float == 0 %}
            <li value="{{ q.unit.id }}" data-before="{{ q.amount }}"><b>{{ q.ingredient.name }}</b></li>
          {% elif q.amount|float > 1 %}
            <li value="{{ q.unit.id }}" data-before="{{ q.amount }}" data-singular="{{ q.unit.singular }}" data-plural="{{ q.unit.plural }}">
              <b>{{ q.ingredient.name }}</b>: <span>{{ q.amount|string + ' ' + q.unit.singular + q.unit.plural }}</span>
            </li>
          {% else %}
            <li value="{{ q.unit.id }}" data-before="{{ q.amount }}" data-singular="{{ q.unit.singular }}" data-plural="{{ q.unit.plural }}">
              <b>{{ q.ingredient.name }}</b>: <span>{{ q.amount|string + ' ' + q.unit.singular }}</span>
            </li>
          {% endif %}
        {% endfor %}
			</ul>
		{% endfor %}
	</article>

	<article id="steps">
	  <h2>Pasos</h2>
		<ol>
				{% for step in recipe.steps %}
          {% if step.step|int > 0 %}  <!-- IF CASTING FAILS, RETURNS 0 -->
            {% for sub in recipe.subrecipes %}
              {% if sub.id == step.step|int %}
                {% if sub.case_fem %}
                  <li>Preparamos la {{ sub.name.lower() }}</li>
                {% else %}
                  <li>Preparamos el {{ sub.name.lower() }}</li>
                {% endif %}
                <ol>
                {% for substep in sub.steps %}
                  <li>{{ substep.step }}</li>
                {% endfor %}
                </ol>
              {% endif %}
            {% endfor %}
          {% else %}
			      <li>{{ step.step }}</li>
          {% endif %}
			  {% endfor %}
	  </ol>
		<br />
	  <h3 style="color: #f56a6a">¡Y listo! Que aproveche.</h3>
	</article>
</div>

<div id="second-posts-recipe" class="posts">
	<article id="video">
		<h2>Vídeo</h2>
			<div class="video-container">
				<iframe class="video-item" allowfullscreen src={{ recipe.link_video }}></iframe>
			</div>
	</article>

	<article id="health">
		<h2>Beneficios para la salud</h2>

	  <p> {{ recipe.health }} </p>

		<h4>Por ingredientes</h4>
		<ul class="fa-ul">

				{% for ing in recipe.ingredients %}

			    <li>
			      <span class="fa-li" style="color: #f56a6a"><i class="fas fa-carrot"></i></span>
			      <strong>{{ ing.name }}: </strong>{{ ing.health }}
			    </li>

			  {% endfor %}

				{% for subrecipe in recipe.subingredients %}
					{% for ing in subrecipe[1]  %}
						{% if not ing.duplicate %}
					    <li>
					      <span class="fa-li" style="color: #f56a6a"><i class="fas fa-carrot"></i></span>
					      <strong>{{ ing.name }}: </strong>{{ ing.health }}
					    </li>
						{% endif %}
					{% endfor %}
			  {% endfor %}

		</ul>
	</article>
</div>
<br>
<center>
	<div>
		<h4>¿Te has quedado con hambre? Échale un vistazo a otras recetas <a style="color: #599A00; text-decoration: underline" href="{{ url_for('search.search_all_recipes') }}" title="Ver todas las recetas">aquí</a>.</h4>
	</div>
	<div>
		<h4>Si te ha gustado la receta, premia nuestro esfuerzo con una <a style="color: #599A00; text-decoration: underline" href="{{ url_for('main.get_donate') }}" title="Ver todas las recetas">donación</a>.</h4>
	</div>
</center>
{% endblock content %}
