{% extends 'main_layout.html' %} {% block content %}

<h1>Recetas</h1>
<a href="" class="add_btn" style="margin-bottom: 1em">Nueva receta</a>
<table>
  <tr>
    <th>Nombre</th>
    <th>Último cambio</th>
    <th>Estado</th>
    <th>Acciones</th>
  </tr>
  {% for recipe in recipes.items %}
  <tr>
    <td>{{ recipe.name }}</td>
    <td>{{ recipe.created_at.strftime("%Y-%m-%d") }}</td>
    <td>
      <span class="label label-{{recipe.state.label}}">{{ recipe.state.state|upper }}</span>
    </td>
    <td>
      <a
        href="{{ url_for('recipes.edit_recipe', recipe_url=recipe.url) }}"
        class="icon fas fa-pencil action_icon"
        title="Editar receta."
        ><span class="label">Editar receta.</span></a
      >
      <a
        href="{{ url_for('recipes.delete_recipe', recipe_url=recipe.url) }}"
        style="margin-left: 0.5em"
        class="icon fas fa-trash action_icon"
        title="Borrar receta."
      ><span class="label">Borrar receta.</span></a
    >
    </td>
  </tr>
  {% endfor %}
</table>

<center>
  {% for page_num in recipes.iter_pages(left_edge=1, right_edge=1,
  left_current=1, right_current=2) %} {% if page_num %} {% if recipes.page ==
  page_num %}
  <a
    class="btn btn-danger mb-4"
    href="{{ url_for('recipes.overview', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% else %}
  <a
    class="btn btn-danger mb-4"
    href="{{ url_for('recipes.overview', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% endif %} {% else %} ... {% endif %} {% endfor %}
</center>

{% endblock content %}
