#philo-container {
    display: flex;
    flex-direction: row;
}

strong {
    color: #991d1d;
}

#leaves {
    display: none;
}

@media screen and (min-width: 680px) {
    #leaves {
        display: block;
        width: 80px;
        height: 600px;
    }
}

@media screen and (min-width: 1080px) {
    #leaves {
        width: 120px;
        height: 700px;
    }
}
